/* General */
html,
body,
head {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: "Abel";
  text-align: center;
  scroll-behavior: smooth;
}

h1 {
  text-align: left;
}

h2 {
  color: #ff8995;
  margin-top: 25px;
  margin-bottom: 25px;
}

h3,
h4 {
  margin: 0;
}

h4 {
  color: gray;
}

.align {
  padding: 25px 20%;
}

.fa-chevron-circle-up {
  display: none;
  color: #ff8995;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
}

.popup {
  animation-name: popup;
  animation-duration: 0.5s;
}

@keyframes popup {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: 20px;
  }
}

.popdown {
  animation-name: popdown;
  animation-duration: 0.5s;
}

@keyframes popdown {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: -50px;
  }
}

/* Navigation */
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 5% 10%;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: large;
}

li a {
  display: block;
  color: pink;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  color: #ff8995;
}

#hamburger,
#nav-close {
  display: none;
  color: pink;
  position: absolute;
  right: 0;
  top: 0;
  padding: 35px 25px;
}

#nav-close {
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
}

/* Home page */
#intro {
  position: absolute;
  top: 50%;
  left: 20%;
  margin-right: 20%;
}

#bg {
  overflow: hidden;
  height: 100%;
  background-image: url("images/site-bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
}

#overlay {
  z-index: 10;
  display: block;
  height: 100%;
  background-image: linear-gradient(rgba(5, 5, 5, 0.55), rgba(5, 5, 5, 0.1));
  color: white;
}

/* About section */
#about p {
  margin: 0 15%;
}

#about p a {
  text-decoration: none;
  color: #ff8995;
}

/* Project section */
#projects {
  background-color: #ededed;
  padding: 15px 0;
}

.proj {
  display: flex;
  flex-direction: row;
  background-color: #ededed;
  text-align: left;
  margin: 25px;
  align-items: center;
}

#proj-container {
  padding-top: 0;
}

.proj-img,
.proj-buttons {
  height: 100%;
  width: 30%;
}

.proj-desc {
  width: 75%;
  padding: 0 20px;
  height: 100%;
}

#omwana,
#dr,
#soe {
  width: 100%;
}

img {
  display: block;
}

.label {
  color: #1e5079;
  border-color: #dd4b39;
  border-width: 1px;
  padding: 5px 10px 5px 0;
  margin-right: 5px;
  font-weight: 900;
}

.proj-buttons a {
  background-color: #92b675;
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;
  margin: 15px;
  text-align: center;
}

.proj-buttons a:hover {
  opacity: 75%;
}

/* Design section */
#design {
  background-color: white;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.img-preview {
  border-radius: 5px;
  width: 250px;
  transition: 0.3s;
  padding: 10px;
}

.img-preview:hover {
  opacity: 70%;
  cursor: pointer;
}

#modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: auto;
}

.modal-img {
  display: block;
  margin: auto;
  max-width: 85%;
  max-height: 90%;
  padding: 20px 0;
}

#caption {
  padding-top: 5%;
  display: block;
  margin: auto;
  width: 85%;
  text-align: center;
  color: white;
  font-size: larger;
}

#close {
  color: white;
  position: fixed;
  right: 25px;
  top: 15px;
  font-weight: bold;
  font-size: 40px;
  transition: 0.3s;
  cursor: pointer;
}

/* Contact section */
#contact {
  margin: 0;
  padding: 20px;
}

#contact.fa {
  font-size: 30px;
  padding: 10px;
}

.fa-linkedin-square {
  color: #007bb5;
}

.fa-github {
  color: #222222;
}

.fa-envelope-o {
  color: #dd4b39;
}

/* Footer section */
footer {
  background-color: white;
  padding: 10px;
  margin-top: 15px;
}

/* Mobile */

@media only screen and (max-width: 600px) {
  /* General */
  .align {
    padding: 10px;
  }

  .fa-chevron-circle-up {
    right: 20px;
  }

  /* Navigation */
  #nav-items {
    display: none;
  }

  #hamburger {
    display: block;
  }

  /* Home page */
  #intro {
    left: 10%;
  }

  .proj {
    flex-direction: column;
  }

  .proj-img,
  .proj-buttons {
    width: 90%;
  }

  .proj-desc {
    padding: 20px 20px;
  }

  .proj-buttons a {
    margin: 0 0 10px 0;
  }

  /* Design */
  .img-preview {
    padding: 10px 0;
    width: 300px;
  }

  #caption {
    margin: 15% 5% 5% 5%;
  }

  .modal-img {
    max-width: 100%;
  }
}
